.listItem {
  padding: 0 10px;
  border-radius: 5px;
  transition: .3s;


  &+.listItem {
    border-top: 1px solid #aaa;
  }

  &:hover {
    background-color: #afa;
  }

  input {
    margin-right: 10px;
  }

  label {
    padding: 6px 0;
    display: block;
    cursor: pointer;
  }
}