* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  height: 100vh;
}

.app {
  width: 500px;
  padding-bottom: 10rem;
}

.btn {
  padding: 0.25rem 0.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;

  &-danger {
    color: #fff;
    background-color: #f33;

    &:hover {
      background-color: #f00;
    }
  }
}